/*
    Theme for code block:
    https://tmtheme-editor.herokuapp.com/#!/editor/theme/Monokai
*/

html, body { height: 100%; }

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
    background-color: rgb(247, 247, 247);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
}

pre {
    margin: 0;
    padding: 0;
}

pre > code {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #272822;
    font-family: monospace;
    color: #F8F8F0;
    padding: 0.5rem;
}

span[contenteditable="true"] {
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

span[contenteditable="true"]:hover {
    /*border: 1px solid;*/
    border-radius: 4px;
}

main {
    height: 80%;
}

main section.tab {
    display: none;
    height: 100%;
}
main section.tab.active {
    display: block;
    height: 100%;
}
.foobar{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}
.textual {
    display: inline-block;
    min-width: 10%;
    width: 40%;
    resize: horizontal;
    overflow: auto;
    border: 1px solid black;
}
.visual {
    /*display: flex;*/
    min-width: 10%;
    flex: 1;
    border: 1px solid black;
}
.visual > ul {
    margin-top: 0;
}

.graph {
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    background-image: 
        linear-gradient(45deg, #ccc 25%, transparent 25%), 
        linear-gradient(-45deg, #ccc 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, #ccc 75%), 
        linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.rule-layout {
    text-align: center;
}

.graph.lhs, .graph.rhs {
    width: 45%;
}

.rule-layout code {
    display: inline-block;
    width: 70%;
    /*margin-left: 4rem;*/
    background-color: #272822;
    font-family: monospace;
    color: #F8F8F0;
}

.rule-code {
    display: block;
}

.rule-code::before {
    position: relative;
    display: inline-block;
    width: 10%;
    text-align: right;
    font-family: monospace;
    color: #000;
}

.condition::before {
    content: 'where: '

}
.addendum::before {
    content: 'also: '
}
